.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Praise', cursive;
    font-size: 2vw;
    background-color: #e8c4a0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.splashpage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-45%,-45%);
    min-width: 100vw;
}

.splashpage-title {
    font-family: 'Praise', cursive;
    font-size: 8vw;
}

.splashpage-subcontainer {
    font-family: 'Roboto Serif', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    padding-right: 8vw;
}

.splashpage-image {
    max-width: 650px;
    max-height: 650px;
    width: auto;
    height: auto;
}

.splashpage-subtext {
    display: flex;
    flex-direction: column;
}

.splashpage-subtext-label {
    padding: 10px 0;
}

.splashpage-subtext-label > label {
    font-size: 3vw;
    color: #e6b27f;
}